#group-index-all {
    margin: 10px 8vh 10px 8vh;
    min-height: 100%;
    overflow: scroll;
    border: 5px;
    // border-style: dotted;
    // border-color: red;
}

#group-index-above-group-section {
    margin: 10px;
    border: 5px;
    // border-style: dotted;
    // border-color: blue;
}

#group-index-above-group-section-buttons {
    display: flex;
    margin-top: 30px;
    flex-direction: row;
    justify-content: space-between;
}

#group-index-above-group-left-section-buttons {
    display: flex;
    flex-direction: row;
    // border-style: dotted;
    // border-color: green;
}

#group-index-above-group-right-section-buttons {
    // border-style: dotted;
    // border-color: rgb(109, 0, 128);
    text-decoration: none;
}

#group-index-above-group-section-buttons-line-break {
    margin: 5px;
}

#group-index-group-section {
    margin: 10px;
    // border-style: dotted;
    // border-color: rgb(109, 128, 0);
    padding: 5px;
}

#group-index-group-section-group-image-and-name {
    display: flex;
    flex-direction: row-reverse;
    justify-content: flex-end;
    align-items: center;
}

#group-index-group-section-group-image-and-name img {
    margin: 5px;
    display: flex;
    height: 160px;
    width: 240px;
    // border-style: dotted;
    // border-color: rgb(26, 177, 211);
    padding: 5px;
}


#group-index-group-section-event-image img {
    margin: 5px;
    height: 260px;
    width: 400px;
}

#group-index-group-section-event-image button {
    height: 260px;
    width: 100px;
}

#group-index-group-section-event-image {
    overflow: scroll;
    display: flex;
    flex-direction: row;
    // border-style: dotted;
    // border-color: rgb(233, 6, 237);
    padding: 5px;
    align-items: center;
}

#group-index-line-break {
    margin: 5px;
}

#group-index-group-name-and-image {
    display: flex;
    flex-direction: row;
}