#group-show-container {
    display:flex ;
    justify-content: space-between;
    margin: 30px 6vh 10px 8vh;
    max-height: 100%;
    max-width: 100%;
    overflow: scroll;
    border: 5px;
    // border-style: dotted;
    // border-color: red;
}

#group-show-left-side {
    margin-left: 2%;
    margin-top: 30px;
    width: 45%;
}

#group-show-left-side-image-and-description img {
    position: relative;
    z-index: -1;
    width: 100%;
    height: 60%;
}

#group-show-left-side-image-and-description {
    background: linear-gradient(180deg, rgba(0, 0, 0, 0.55) 0%, rgba(0, 0, 0, 0) 50%);
    position: relative;
}

#group-show-left-image-and-title {
    color: white;
    position: absolute;
    top: 8px;
    left: 16px;
}

#group-show-left-side-image-and-description h4 {
    width: 100%;
    margin-top: 20px;
    margin-bottom: 20px;
}

#group-show-left-side-members-and-button {
    width: max-content;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: nowrap;
    flex-direction: row;
}

#group-show-left-side-button {
    margin: 20px 20px 30px 20px;
}

#group-show-rigth-side {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-left: 4%;
    margin-top: 30px;
    width: 55%;
}

#group-show-rigth-side-squad-info {
    padding: 1% 1% 1% 1%;
    max-width: 100%;
    border: 1px solid grey;
}

#group-right-side-avatars {
    display: flex;
    overflow: scroll;
    flex-direction: row;
}

#group-show-rigth-side-event-cards {
    height: 2000px;
    display: grid;
}


#group-show-event-cards-grid {
    width: 100%;
    height: 63vh;
    display: grid;
    grid-template-columns: 1fr 1fr;
    overflow-x: hidden;
    overflow-y: auto;
    margin: 30px 0 0 0;
    padding: 0vw 0vw 0vw 0vw;
    grid-gap: 10px;
    justify-items: center;
}