// Import page-specific CSS files here.
Specific CSS for your home-page

body {
    background-color: green;
}

.events-container {
    display: flex;
    justify-content: space-evenly;
}
.events-map {
    height: 100vh;
    width: 400px;
}
.event-cards-grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 16px;
    flex-grow: 1;
}