.right-column {
  background-color: #2dbdd343;
  position: relative;
  top: 0;
  right: 0;
  margin-right: 4%;
  list-style-type: none;
}
.workout-border{
  border: black 2px solid;
  border-radius: 5px;
}
