<% @group_participants.each do |participant| %>
  <p>User ID: <%= participant.user.id %></p>
  <p>Email: <%= participant.user.email %></p>
  <p>Name: <%= participant.user.name %></p>
  <p>Avatar: <%= image_tag participant.user.avatar, style: "width:200px;  height:100px;"%>
  </p>
  <hr>
<% end %>
