<link rel="stylesheet" href="http://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css">

    <nav id="section-navbar">
      <div class="logo">
         <a href="#"><img src="https://bootstrap-themes.github.io/application/assets/img/brand-white.png"></a>
      </div>

      <ul>
        <li> <a href="https://codepen.io/naeem-khan/pen/EebeQe" class="active">Home</a></li>
        <li> <a href="#">Profile</a></li>
        <li> <a href="#">Messages</a></li>
        <li> <a href="#">Docs</a></li>
      </ul>

      <div class="search">
        <input type="search" placeholder="Search">
        <i class="ion-android-notifications icon-big mx-10px"></i>
        <img src="https://bootstrap-themes.github.io/application/assets/img/avatar-dhg.png" alt="user">
      </div>
    </nav>

 