<div class="">


    <div class="events-container">
        <div class="left-side-container">
    <div class="quote-container">

        <p>"Coming together is a beginning; keeping together is progress; working together is success."</p>
        <p class="quote-attribution">- Henry Ford</p>
    </div>
        <div class="block-space"></div>
            <div class="image-homepage">
            <% @image = "#{@query.capitalize}_group.jpg"%>
                <% if @image.end_with?("jpg") %>
                    <%=image_tag @image %>
                <% else %>
                    <%= image_tag eval(@image)["url"] %>
                <% end %>
            </div>
        <div class="block-space"></div>
        <div class="quote-container">
            <p>"Your body is your most priceless possession; you've got to take care of it!"</p>
        <p class="quote-attribution">- Arnold Schwarzenegger</p>
        </div>
        <br class="block-space">
        </div>

         <div class="right-side-container">
            <div class="quote-container">
      <h2>Upcoming Events for <%= @query.capitalize %></h2>
      </div>
            <br class="block-space">
            <% if @events.empty? %>
                <p class="no-events-msg">No events found for your search query :(</p>
            <% else %>
                <div class="event-cards-grid">
                    <%= render partial: 'events/display' %>
                </div>
            <% end %>
        </div>
    </div>
  </div>
</div>

<style>
.events-container {
    display: flex;
    justify-content: space-around;
    align-items: flex-start;
    padding: 20px;
    gap: 20px;
}

.left-side-container {
    height: fit-content;
    flex: 1;
}

.right-side-container {
    flex: 1;
    text-align: center;
    margin-left: 2%;
    margin-bottom: 1%;
} */


.events-index {
    font-size: 24px;
}

.no-events-msg {
    font-style: italic;
    color: #999;
}

.events-map {
    width: 100%;
    max-width: 800px;
    max-height: 400px;
    /* Add any additional map styles here */
}

.quote-container {
    background-color: white; /* Background color with 70% opacity */
    border: 1px solid black;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}

.quote-container p {
    margin: 0; /* Remove default margin */
}

.quote-attribution {
    text-align: right; /* Align the attribution text to the right */
    font-style: italic; /* Optionally, you can style the attribution text */
    color: #888; /* Optionally, set the color */
}

.events-calendar-position {
  position: relative; /* Makes the element fixed */
  left: 3%; /* Sets the left position */
  top: 3%; /* Sets the top position */
  z-index: 10; /* Adjust the stacking order as needed */
}

.block-space{
  height: 20px;
  width: 30px;
  /* background-color: blue; */
}

.image-homepage{
  width: 100%;
  height: 50%;
}

.image-homepage img {
    width: 100%;
}
</style>
