// #2DBCD3

//more details button VVVVVV

.more-details {
    border: 1px solid black;
    background-color: #efefef;
    font-weight: 200;
    font-size: 18px;
    color: black;
    padding: 4px 32px;
    text-decoration: none;
    border-radius: 3px;
    width: 11vw;
    // height: 8vh;
    &:hover{
        background-color: #282828;
        color: #ffffff;
    }
}

#event-more-details {
    border: 1px solid #000000bf;
    background-color: #efefef;
    font-weight: 200;
    font-size: 16px;
    color: rgba(0, 0, 0, 0.705);
    padding: 10px 7px;
    text-decoration: none;
    border-radius: 2px;
    width: 7vw;
    // height: 8.5vh;
    text-align: center;
    &:hover{
        background-color: #282828;
        color: #ffffff;
    }
}


// BUTTON BORDERS

.button-container {
    position: relative;
    width: 150px;    
    display: grid;
    align-content: center;
    justify-content: center;
    flex-wrap: wrap;
    margin: 0 2%;
}

.button-container:hover #events-join {
    font-size: 20px;
}

.button-container:hover #events-card-heart {
    font-size: 23;
    padding-top: 10%;
}

#events-joined a {
    text-decoration: none;
    background-color: black;
    color: white;
    font-size: 16px;
    width: 8vw;
    padding: 7% 10%;
    justify-content: center;
    text-align: center;
    border-radius: 2px;
}


//BLACK BORDER

.button-container .black-border-effect {
    display: flex;
    position: absolute;
    top: 7px;
    bottom: 7px;
    left: 16px;
    right: 16px;
    flex-wrap: wrap;
    align-content: center;
    justify-content: center;
    border: 1px solid grey;
    transform: translateZ(60px);
    transition: box-shadow 0.2s ease-in-out, top 0.2s ease-in-out, left 0.2s ease-in-out, right 0.2s ease-in-out, bottom 0.2s ease-in-out, border-width 0.2s ease-in-out, border-color 0.2s ease-in-out;
    pointer-events: none;
    z-index: 4;
}

.button-container:hover .black-border-effect {
    display: flex;
    flex-wrap: wrap;
    align-content: center;
    justify-content: center;
    position: absolute;
    top: -5px;
    bottom: -5px;
    left: -2px;
    right: -2px;
    border-width: 2.5px;
    background-color: transparent;
    box-shadow: inset 0px 0px 0px 1px rgba(0, 0, 0, 0.2), 0px 1px 0px 1px rgba(0, 0, 0, 0.1);
    border-color: #0000009e;
    transform: translateZ(60px);
    z-index: 4;
    border-radius: 2px;
}


//WHITE BORDER

.button-container .white-border-effect {
    display: flex;
    position: absolute;
    top: 7px;
    bottom: 7px;
    left: 16px;
    right: 16px;
    flex-wrap: wrap;
    align-content: center;
    justify-content: center;
    border: 1px solid #ffffffad;
    transform: translateZ(60px);
    transition: box-shadow 0.2s ease-in-out, top 0.2s ease-in-out, left 0.2s ease-in-out, right 0.2s ease-in-out, bottom 0.2s ease-in-out, border-width 0.2s ease-in-out, border-color 0.2s ease-in-out;
    pointer-events: none;
    z-index: 4;
}

.button-container:hover .white-border-effect {
    display: flex;
    flex-wrap: wrap;
    align-content: center;
    justify-content: center;
    position: absolute;
    top: -5px;
    bottom: -5px;
    left: 4px;
    right: 4px;
    border-width: 3px;
    background-color: transparent;
    box-shadow: inset 0px 0px 2px 1.5px rgba(95, 95, 95, 0.8), 0px 0.2px 8px 3px #35353547;
    border-color: #ffffff;
    transform: translateZ(60px);
    z-index: 4;
    border-radius: 2px;
}

.button-container:hover #create-squad-border {
    top: -7px;
    bottom: -7px;
    left: 2px;
    right: 2px;
    box-shadow: none;
    border-color: #2DBCD3;
    pointer-events: none;

}
//GROUPS INDEX BUTTONS



.main-squads-button {
    font-size: 14px;
    background-color: rgb(24, 24, 24);
    color: #ffffff;
    text-decoration: none;
    // font-family: tahoma;
    width: 131px;
    height: 45px;
    text-align: center;
    justify-content: center;
    display: flex;
    flex-wrap: wrap;
    align-content: center;
    z-index: 2;
    border: 1px solid rgb(179, 179, 179);
    border-radius: 3px;
    transition: all 0.2s ease-in-out;
}
.button-container:hover .main-squads-button{
        font-size: 14.7px;
        text-shadow: 0px -0.5px rgba(95, 95, 95, 0.5), 1px 1.5px rgba(95, 95, 95, 0.5);
        background-color: rgb(0, 0, 0);
        // box-shadow: 1px 1px 5px black;
    }

    
#events-join-border {
    top: 8px;
    bottom: 7px;
    left: 16px;
    right: 16px;
    transition: all 0.2s ease-in-out;
}

#events-card-heart {
    padding-top: 7%;
    padding-right: 6%;
}

.button-container:hover #events-join-border {
    top: -5px;
    bottom: -5px;
    left: 4px;
    right: 4px;
}



.secondary-squads-button {
    font-size: 14px;
    background-color: rgb(255, 255, 255);
    color: #000000;
    text-decoration: none;
    // font-family: tahoma;
    width: 131px;
    height: 47px;
    text-align: center;
    justify-content: center;
    display: flex;
    flex-wrap: wrap;
    align-content: center;
    z-index: 2;
    border: 1px solid rgb(179, 179, 179);
    border-radius: 3px;
    transition: all 0.2s ease-in-out;
}

.button-container:hover .secondary-squads-button {
        font-size: 14.7px;
        // font-weight: 550;
        text-shadow: 0px -0.5px rgba(22, 22, 22, 0.1), 1px 1.5px rgba(22, 22, 22, 0.1);
        background-color: #ffffff;
}

.action-button {
    font-size: 14.5px;
    background-color: #2DBCD3;
    color: #ffffff;
    text-decoration: none;
    // font-family: tahoma;
    width: 131px;
    height: 45px;
    text-align: center;
    justify-content: center;
    display: flex;
    flex-wrap: wrap;
    align-content: center;
    z-index: 2;
    border: 1px solid rgb(179, 179, 179);
    border-radius: 3px;
    transition: all 0.2s ease-in-out;
}

.button-container:hover .action-button {
    font-size: 15px;
    // text-shadow: 0px 0.5px rgba(95, 95, 95, 0.4), 1px 1.5px rgba(95, 95, 95, 0.4);
    // background-color: rgb(56, 169, 186);
}


#group-index-above-group-section-buttons {
    display: flex;
    margin-top: 30px;
    flex-direction: row;
    justify-content: space-between;
}

#group-index-above-group-left-section-buttons {
    display: flex;
    flex-direction: row;
    // border-style: dotted;
    // border-color: green;
}

#group-index-above-group-right-section-buttons {
    // border-style: dotted;
    // border-color: rgb(109, 0, 128);
    text-decoration: none;
}

