// #2DBCD3


// BUTTON BORDERS

.button-container {
    position: relative;
    width: 150px;    
    display: grid;
    align-content: center;
    justify-content: center;
    flex-wrap: wrap;
}


//BLACK BORDER

.button-container .black-border-effect {
    display: flex;
    position: absolute;
    top: 8px;
    bottom: 8px;
    left: 38px;
    right: 38px;
    // height: 75%;
    // width: 100%;
    flex-wrap: wrap;
    align-content: center;
    justify-content: center;
    border: 1px solid transparent;
    transform: translateZ(60px);
    transition: box-shadow 0.2s ease-in-out, top 0.2s ease-in-out, left 0.2s ease-in-out, right 0.2s ease-in-out, bottom 0.2s ease-in-out, border-width 0.2s ease-in-out, border-color 0.2s ease-in-out;
    pointer-events: none; /* Prevents the border from blocking interactions with the image */
    z-index: 4;
}

.button-container:hover .black-border-effect {
    display: flex;
    flex-wrap: wrap;
    align-content: center;
    justify-content: center;
    position: absolute;
    top: 5px;
    bottom: 5px;
    left: 16px;
    right: 16px;
    border-width: 2px; /* Expanded border width on hover */
    background-color: transparent;
    box-shadow: 2px 2px 2px 2px rgba(0,0,0,0.1);
    border-color: #000000;/* Border color on hover */
    transform: translateZ(60px); /* 3D effect */
    z-index: 4;
}

//WHITE BORDER

.button-container .white-border-effect {
    display: flex;
    position: absolute;
    top: 8px;
    bottom: 8px;
    left: 38px;
    right: 38px;
    flex-wrap: wrap;
    align-content: center;
    justify-content: center;
    border: 1px solid transparent;
    transform: translateZ(60px);
    transition: box-shadow 0.2s ease-in-out, top 0.2s ease-in-out, left 0.2s ease-in-out, right 0.2s ease-in-out, bottom 0.2s ease-in-out, border-width 0.2s ease-in-out, border-color 0.2s ease-in-out;
    pointer-events: none; /* Prevents the border from blocking interactions with the image */
    z-index: 4;
}

.button-container:hover .white-border-effect {
    display: flex;
    flex-wrap: wrap;
    align-content: center;
    justify-content: center;
    position: absolute;
    top: 6px;
    bottom: 6px;
    left: 16px;
    right: 16px;
    border-width: 2px; /* Expanded border width on hover */
    border-color: #ffffff;/* Border color on hover */
    transform: translateZ(60px); /* 3D effect */
    z-index: 4;
}


//GROUPS INDEX BUTTONS



.main-squads-button {
    font-size: 14px;
    background-color: rgb(24, 24, 24);
    color: #ffffff;
    text-decoration: none;
    // font-family: tahoma;
    width: 131px;
    height: 45px;
    text-align: center;
    justify-content: center;
    display: flex;
    flex-wrap: wrap;
    align-content: center;
    z-index: 2;
    border-radius: 3px;
    transition: box-shadow 0.2s ease-in-out, font-size 0.2s ease-in-out, background-color 0.2s ease-in-out;
    &:hover {
        font-size: 13.8px;
        text-shadow: inset solid rgba(22, 22, 22, 0.5);
        background-color: rgb(0, 0, 0);
        // box-shadow: 1px 1px 5px black;
    }
}
    
.secondary-squads-button {
    font-size: 14px;
    background-color: rgb(255, 255, 255);
    color: #000000;
    text-decoration: none;
    // font-family: tahoma;
    width: 131px;
    height: 47px;
    text-align: center;
    justify-content: center;
    display: flex;
    flex-wrap: wrap;
    align-content: center;
    z-index: 2;
    border: 1px solid rgb(179, 179, 179);
    border-radius: 3px;
    transition: box-shadow 0.2s ease-in-out, font-size 0.2s ease-in-out, background-color 0.2s ease-in-out;
    &:hover {
        font-size: 13.8px;
        text-shadow: inset solid rgba(22, 22, 22, 0.5);
        background-color: #ffffff;
    }
}

.action-button {
    font-size: 14.5px;
    background-color: #2DBCD3;
    color: #ffffff;
    text-decoration: none;
    width: 131px;
    text-shadow: 0px 1px 1px #002d5238;
    height: 47px;
    text-align: center;
    justify-content: center;
    display: flex;
    flex-wrap: wrap;
    align-content: center;
    z-index: 2;
    border: 1px solid #b3b3b3;
    border-radius: 3px;
    transition: box-shadow 0.2s ease-in-out, font-size 0.2s ease-in-out, background-color 0.2s ease-in-out;
    &:hover {
        font-size: 13.8px;
        text-shadow: inset solid rgba(22, 22, 22, 0.5);
        background-color: #3cb7ca;
    }
}


#group-index-above-group-section-buttons {
    display: flex;
    margin-top: 30px;
    flex-direction: row;
    justify-content: space-between;
}

#group-index-above-group-left-section-buttons {
    display: flex;
    flex-direction: row;
    // border-style: dotted;
    // border-color: green;
}

#group-index-above-group-right-section-buttons {
    // border-style: dotted;
    // border-color: rgb(109, 0, 128);
    text-decoration: none;
}

