.mapboxgl-popup {
  width: 25%;
}

.mapboxgl-popup-content {
  display: contents;
  text-align: left;
  font-family: "Open Sans", sans-serif;
}

.mapboxgl-popup-close-button {
  display: none;
}

.mapboxgl-ctrl-top-right {
  z-index: 0;
}