@import url("https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700,800");
* {
  margin: 0;
  padding: 0;
}

:root {
  --color-primary: #3097d1;
  --color-dark-muted: rgba(0, 0, 0, 0.6);
  --text-muted: rgba(255, 255, 255, 0.5);
  --text-white: #fff;

  --border-div: 1px solid rgba(0, 0, 0, 0.125);
  --padding-: 15px;
  --margin-: 10px;
}

/*||||| BASE-SETUP ||||||*/

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.mx-10px {
  margin: 0 10px;
}

/*||||| SECTION-NAVBAR ||||||*/

#section-navbar {
  background-color: #3f51b5;
  padding: 5px 20px;
  display: flex;
  color: var(--text-muted);

  position: fixed;
  right: 0;
  left: 0;
  z-index: 1;
}

#section-navbar .logo {
  display: flex;
  align-items: center;
}

#section-navbar img {
  height: 30px;
}

#section-navbar ul {
  display: flex;
  list-style: none;
  align-items: center;

  margin-right: auto;
}

#section-navbar li {
  padding-left: var(--padding-);
}

#section-navbar li a:link,
#section-navbar li a:visited {
  text-decoration: none;
  color: var(--text-muted);
}

#section-navbar li a:hover {
  color: var(--text-white);
}

#section-navbar .active {
  color: var(--text-white) !important;
}

#section-navbar .search {
  display: flex;
  align-items: center;
}

#section-navbar .search input {
  padding: 8px 10px;
  width: 150px;
  transition: width 0.5s;
  border: 1px solid rgba(0, 0, 0, 0.6);
  border-radius: 5px;
}

#section-navbar .search input:focus {
  width: 300px;
}

#section-navbar .search img {
  border-radius: 50%;
  cursor: pointer;
}

#section-navbar .icon-big {
  font-size: 30px;
  cursor: pointer;
}

#section-navbar .icon-big:hover {
  color: #fff9;
}

/*---------section-hero---------*/

.section-hero {
  background: url(https://bootstrap-themes.github.io/application/assets/img/iceland.jpg);
  background-size: cover;
  height: 30em;
  color: #fff;

  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  align-items: center;

  position: relative;
  font-family: "Open Sans", sans-serif;
}

.section-hero__user {
  font-size: 15px;
}

.section-hero__user img {
  height: 120px;
  border-radius: 50%;
}

.section-hero__user h1 {
  padding: 10px;
}

.section-hero__Photos {
  display: flex;

  position: absolute;
  bottom: 0;
}

.section-hero__Photos p {
  padding: 0 10px;
  color: #fff5;
  cursor: pointer;
}

.section-hero__Photos p:hover {
  color: #fff;
}

.section-hero__Photos-active {
  display: flex;
  flex-direction: column;
  color: #fff !important;
}

.section-hero__Photos-active i {
  font-size: 1.5em;
  margin-bottom: -0.5em;
}

/*---------section-wrapper---------*/

.section-wrapper {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.section-wrapper__image-item-1 {
  padding: 5px;
  height: 15em;
}

.section-wrapper__image-item-2 {
  padding: 5px;
  height: 15em;
  width: 30em;
}

.section-wrapper__image-item-3 {
  padding: 5px;
  height: 15em;
}

@media (max-width: 600px) {
  .section-wrapper__image-item-1 {
    height: 14em;
  }

  .section-wrapper__image-item-2 {
    height: 14em;
    width: 50%;
  }

  .section-wrapper__image-item-3 {
    height: 25em;
    width: 100%;
  }
}
