// Graphical variables
@import "config/fonts";
@import "config/colors";
@import "config/bootstrap_variables";

// External libraries
@import "bootstrap";
@import "font-awesome";
@import '@mapbox/mapbox-gl-geocoder/dist/mapbox-gl-geocoder.css';



// Your CSS partials
@import "components/index";
@import "pages/index";
@import "components/card";
@import "components/navbar";
@import "components/home_button";
@import "components/_button";



// CSS pages
@import "pages/home";
@import "pages/index";
@import "pages/group_index";
@import "pages/group_show";
@import "pages/workout_new";


// .form-border-generic{
//   border: black 2px solid;
//   border-radius: 5px;
// }
// h1 {
//     font-family: Noto Sans Nabataean;
// }

// h3 {
//     font-family: Kenia;
// }
